apiVersion: v1
kind: Pod
metadata:
  name: {{ pod_name }}
  namespace: {{ namespace }}
  labels:
    app: borgbackup
spec:
  restartPolicy: Never
  containers:
    - name: borg
      image: {{ image }}
      env:
        - name: BORG_PREFIX
          value: {{ backup_name }}
        - name: BORG_FLAGS
          value: {{ borg_flags }}
      envFrom:
        - secretRef:
            name: {{ repo_secret }}
      volumeMounts:
        - name: data
          mountPath: /data
          readOnly: true
        - name: cache
          mountPath: /config/borg-cache
        - name: ssh
          mountPath: /config/borg-ssh.key
          subPath: borg-ssh.key
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: {{ clone_pvc }}
    - name: cache
      persistentVolumeClaim:
        claimName: {{ cache_pvc }}
    - name: ssh
      secret:
        secretName: {{ ssh_secret }}
